@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --sidebar-bg: rgb(210, 210, 228);
    --default-bg: #f9f9f9;
}


body {
    background-color: var(--default-bg);
    font-family: 'Roboto', sans-serif;
}


